{% extends "account/base.html" %}

{% load i18n %}
{% block title %}
    {% trans "Change Password" %}
{% endblock %}

{% load static %}
{% block title-img %}
{% endblock %}


{% block content %}
<div class="col-md-12 text-justify mb-4">
            {% trans 'Your password is now changed.' %}
</div>
<div class="row">
    <div class="col-12 mt-3 ">
        <a href="{% url 'account_login' %}" class="btn btn-block btn-secondary text-color-white button-setting-secondary wow button-setting">{% trans "Login" %}</a>
    </div>
</div>
{% endblock %}
