{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
    {% trans "Verify Your E-mail Address" %}
{% endblock %}

{% load static %}
{% block title-img %}
    {% static 'images/foto-6.jpg' %}
{% endblock %}


{% block content %}
<div class="col-md-12 text-justify mb-4">
    {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
</div>
<div class="row">
    <div class="col-12 mt-3 ">
        <a href="{% url 'account_login' %}" class="btn btn-block btn-secondary text-color-white button-setting-secondary wow button-setting">{% trans "Login" %}</a>
    </div>
</div>
{% endblock %}
